configuration {
    modes: "drun";
    show-icons: true;
    icon-theme: "Adwaita";
    application-fallback-icon: "application-x-executable";
    display-drun: "󰣆 apps";
    display-window: "󰖲 windows";
    drun-display-format: "{name}";
    window-format: "{t}";
    matching: "fuzzy";
    sorting-method: "fzf";
    sort: true;
    case-sensitive: false;
    cycle: true;
    sidebar-mode: false;
    kb-row-up: "Alt+k,Up,Control+k,Control+p";
    kb-row-down: "Alt+j,Down,Control+j,Control+n";
    kb-remove-to-eol: "Control+u";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    terminal: "alacritty";
    font: "JetBrainsMono Nerd Font 12";
}

@theme "theme"
