[global]
    monitor = 0
    origin = top-right
    offset = 10x10
    width = 300
    height = 100
    gap_size = 6
    padding = 10
    horizontal_padding = 12
    frame_width = 1
    frame_color = "@borderMuted@"
    font = MesloLGS Nerd Font 11
    line_height = 2
    corner_radius = 6
    timeout = 5

[urgency_low]
    background = "@surface@"
    foreground = "@foregroundSoft@"
    frame_color = "@borderMuted@"

[urgency_normal]
    background = "@surface@"
    foreground = "@foregroundSoft@"
    frame_color = "@accent@"

[urgency_critical]
    background = "@surface@"
    foreground = "@danger@"
    frame_color = "@danger@"
    timeout = 0
